{% extends "layout.html" %}
{% block content %}
<h1>Welcome to Calcu</h1>
<p>
    Calcu API is a calculator performing some operations using Web API and CLI (Command Line Interface). Also, it shows you reports about the times each operation has been used on daily, weekly, and monthly basis.
</p>
<br>
<h5>
    To use the Web API, click Calculate link the nav bar.
</h5>
<ul>
    <li>
        Daily Report shows the operations have been done in the last 24 hours.
    </li>
    <li>
        Weekly Report shows the operations have been done in the last week.
    </li>
    <li>
        Monthly Report shows the operations have been done in the last month.
    </li>
</ul>
{% endblock content %}